{% extends "index.html" %}
{% block title%}Contact{% endblock %}
{% block content %}
<div class="container-fluid row justify-content-center">
    <div class="col-8">
        <h3> User Support </h3>
        <p> Please send a mail to <a href="mailto:anicet.ebou@gmail.com?cc=koua.dominique@gmail.com&subject=[conodictor-support]">anicet.ebou@gmail.com</a>. </p>
        <br>
        <h3> Developer support </h3>
        <p> For any development support, including bug report, feature request or any other inquiries, please submit an issue to the <a href=https://github.com/koualab/conodictor/issues> issues tracker </a></p>
        <br>
    </div>
</div>
{% endblock %}
