<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %} Home {% endblock %} - ConoDictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    <!---navbar begin-->
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ConoDictor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/run">Run</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/results" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Results
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Result 1</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Result 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://github.com/koualab/conodictor">Install</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar end-->
    {% endblock %}
    <br>
    <!--About Card begin-->
    {% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card border-primary text-dark bg-light">
                <div class="card-body">
                    <h1 class="card-title">ConoDictor</h1>
                    <p class="card-text">
                        ConoDictor is a tool for prediction of conopeptides superfamilies. It support large transcriptome as input.<br>
                        We use Position Specific Scoring Matrix and Profile Hiden Markov Models to predict conopeptides superfamily.<br>
                        The output file is a parsable tab-delimited file. Along with it we output a donut graph showing the distribution
                        of superfamilies for the input file.
                    </p>
                    <br/>
                    <h4>How to cite us</h4>
                        <p>
                            <b>Ebou A, Koua D, Dutertres S. (2021)</b><br>
                            <i>Improved prediction of conopeptides superfamilies with ConoDictor 2.</i><br>
                            Submitted.
                        </p>
                        <p>
                            <b>Koua D, Brauer A, Laht S, Kaplinski L, Favreau P, Remm M, Lisacek F, Stöcklin R. (2012)</b><br>
                            <i>ConoDictor: a tool for prediction of conopeptide superfamilies. Nucleic Acid Research</i><br>
                            <a href="https://doi.org/10.1093/nar/gks337">10.1093/nar/gks337</a>
                        </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!--About Card end-->
    <br>
    <br>
    {% block footer %}
    <footer class="footer fixed-bottom">
        <div class="text-center p-3">
                Copyright &copy; 2020-2021, ConoDictor | Made with <span style="color: #e25555;">&hearts;</span> in Ivory Coast.
        </div>
    </footer>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>