{% extends "index.html" %}
{% block title%}Run{% endblock %}
{% block content %}
{% if request.method == "GET" %}
<div class="container-fluid row justify-content-center">
    <div class="col-8">
        <h3> Run ConoDictor </h3>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger fade show" role="alert">
                    <strong>Form Error!</strong> 
                    <br>
                    <ul class=flashes>
                        {% for message in messages %}
                            <li> {{ message }} </li>
                        {% endfor %}
                    </ul>
                </div> 
            {% endif %}
        {% endwith %}
        
        {% from "_formhelpers.html" import render_field %}
        <form method=POST enctype=multipart/form-data action="{{ url_for('run') }}">
            <dl>
                {{ render_field(form.uploaded_file, class="form-control") }}
                {{ render_field(form.uploaded_text, class="form-control") }}
                {{ render_field(form.job_id, class="form-control") }}
            </dl>
            <br>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="container-fluid row justify-content-center">
    <div class="col-8">
        <h3> ConoDictor is running </h3>
        <br>
        <div class="card text-white bg-success">
            <div class="card-header">Running ConoDictor...</div>
            <div class="card-body">
                <h5 class="card-title">Job name: {{ session['jobname'] }}</h5>
                <p class="card-text">Your job is running. Results will be available at {{ session['resout'] }}. Please come back later.</p>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}