{% extends "index.html" %}
{% block title%}Run{% endblock %}
{% block content %}
<div class="container-fluid row justify-content-center">
    <div class="col-8">
        <h3> Run ConoDictor </h3>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger fade show" role="alert">
                    <strong>Form Error!</strong> 
                    <br>
                    <ul class=flashes>
                        {% for message in messages %}
                            <li> {{ message }} </li>
                        {% endfor %}
                    </ul>
                </div> 
            {% endif %}
        {% endwith %}
        
        {% from "_formhelpers.html" import render_field %}
        <form method=POST enctype=multipart/form-data action="{{ url_for('run') }}">
            <dl>
                {{ render_field(form.uploaded_file, class="form-control") }}
                {{ render_field(form.uploaded_text, class="form-control") }}
                <br>
                <br>
                {{ render_field(form.email, class="form-control", placeholder="name@example.com") }}
                {{ render_field(form.job_id, class="form-control") }}
            </dl>
            <br>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}